.container{
   text-align: center;
   width: 100%;
}

.heading{
    font-size: 40px;
}

.logoWrapper{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5vh auto;
}
.logo{
    width: 100px;
    height: 100px;
    margin-right: 5vw;
    margin-bottom: 3vh;
}

@media all and (max-width:500px){
    .logoWrapper{
        display: block;
        margin: 5vh auto;
    }
    .logo{
        margin-right: 5vw;
    }
}
